Source: dj64dev
Section: devel
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    thunk-gen (>= 1.9~),
    gcc-i686-linux-gnu,
    binutils-i686-linux-gnu,
    universal-ctags,
    autoconf,
    automake,
    pkgconf,
    djdev64-dev,
    ncurses-bin,
    debhelper (>= 9~)
Homepage: https://github.com/stsp/dj64dev
Description: 64-bit djgpp-compatible dev suite
 dj64dev is a 64-bit djgpp-compatible dev suite.

Package: dj64
Architecture: any
Depends: ${misc:Depends}
Description: runtime libraries for dj64
 This package contains runtime libraries for dj64-built programs.

Package: dj64-dev
Architecture: any
Section: libdevel
Depends: dj64 (= ${binary:Version}), ${misc:Depends},
    gcc,
    binutils-i686-linux-gnu,
    pkgconf
Description: development tools and headers of dj64
 This package contains tools and headers for building dj64-enabled programs.

Package: dj64-dev-static
Architecture: any
Section: libdevel
Depends: dj64-dev (= ${binary:Version})
Description: dj64 static libraries
 This package contains static libraries for dj64.
 May be needed on non-glibc systems.

Package: dj32-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
    gcc-i686-linux-gnu,
    binutils-i686-linux-gnu,
    pkgconf
Description: development tools and headers of dj32
 This package contains tools and headers for building dj64-enabled programs
 for 32bit targets.
